body {
  background-color: rgb(245, 245, 245);
}

.container {
  display: flex;
  margin: 0 auto;

  width: 1050px;

  justify-content: center;
}

.left_sidebar {
  align-items: center;
  justify-content: center;

  background-color: rgb(219, 218, 218);

  width: 20%;
}

.image {
  position: relative;

  width: 100%;
  top: -20px;

}

.image-vrap {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  margin: 10px auto;

  outline-offset: 2px;
  outline: 1px solid black;


}

.container-text {
  background-color: white;

  width: 35%;

  text-align: center;
}

h1 {
  margin: 21px 0 5px 0;
}

.text {
  justify-content: center;

  color: rgb(163, 162, 162);
}
